@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--tracking-1: var(--tracking-1);
	--color-error: var(--color-error);
	--color-success: var(--color-success);
}

:root {
	--color-success: #009a49;
	--color-error: #ff0000;
	--tracking-1: 0.06em;
	--radius: 20px;
	--background: #000000;
	--foreground: #ffffff;
	--card: var(--secondary);
	--card-foreground: rgb(37, 37, 37);
	--popover: rgb(255, 255, 255);
	--popover-foreground: rgb(37, 37, 37);
	--primary: #ffffff;
	--primary-foreground: #000000;
	--secondary: #212121;
	--secondary-foreground: rgb(111, 111, 112);
	--muted: rgb(247, 247, 247);
	--muted-foreground: rgb(142, 142, 142);
	--accent: #868686;
	--accent-foreground: rgb(52, 52, 52);
	--destructive: rgb(189, 55, 33);
	--border: rgb(235, 235, 235);
	--input: rgb(235, 235, 235);
	--ring: rgb(180, 180, 180);
	--chart-1: rgb(168, 45, 47);
	--chart-2: rgb(140, 95, 168);
	--chart-3: rgb(102, 96, 150);
	--chart-4: rgb(211, 176, 93);
	--chart-5: rgb(196, 163, 83);
	--sidebar: rgb(251, 251, 251);
	--sidebar-foreground: rgb(37, 37, 37);
	--sidebar-primary: rgb(52, 52, 52);
	--sidebar-primary-foreground: rgb(251, 251, 251);
	--sidebar-accent: rgb(247, 247, 247);
	--sidebar-accent-foreground: rgb(52, 52, 52);
	--sidebar-border: rgb(235, 235, 235);
	--sidebar-ring: rgb(180, 180, 180);
}

.dark {
	--background: rgb(37, 37, 37);
	--foreground: rgb(251, 251, 251);
	--card: rgb(52, 52, 52);
	--card-foreground: rgb(251, 251, 251);
	--popover: rgb(52, 52, 52);
	--popover-foreground: rgb(251, 251, 251);
	--primary: rgb(235, 235, 235);
	--primary-foreground: rgb(52, 52, 52);
	--secondary: rgb(69, 69, 69);
	--secondary-foreground: rgb(251, 251, 251);
	--muted: rgb(69, 69, 69);
	--muted-foreground: rgb(180, 180, 180);
	--accent: rgb(69, 69, 69);
	--accent-foreground: rgb(251, 251, 251);
	--destructive: rgb(180, 50, 35);
	--border: rgba(255, 255, 255, 0.1);
	--input: rgba(255, 255, 255, 0.15);
	--ring: rgb(143, 143, 143);
	--chart-1: rgb(125, 33, 159);
	--chart-2: rgb(177, 92, 157);
	--chart-3: rgb(196, 163, 83);
	--chart-4: rgb(128, 70, 152);
	--chart-5: rgb(133, 125, 71);
	--sidebar: rgb(52, 52, 52);
	--sidebar-foreground: rgb(251, 251, 251);
	--sidebar-primary: rgb(125, 33, 159);
	--sidebar-primary-foreground: rgb(251, 251, 251);
	--sidebar-accent: rgb(69, 69, 69);
	--sidebar-accent-foreground: rgb(251, 251, 251);
	--sidebar-border: rgba(255, 255, 255, 0.1);
	--sidebar-ring: rgb(143, 143, 143);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	img {
		display: initial;
	}
}

@keyframes progress {
	from {
		transform: scaleX(0);
		transform-origin: left;
	}
	to {
		transform: scaleX(1);
		transform-origin: left;
	}
}

.animate-progress {
	animation: progress linear forwards;
}
